
        <div class="container" class="row bg-dark" data-bs-theme="dark">
            <div class="col-md-auto bg-dark"></div>
            <div class="row mt-5 bg-dark">
                <div class="col-md-12 bg-dark">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item" data-bs-interval="100000">
                                <img height="900" src="COMIDA1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item active" data-bs-interval="100000">
                                <img height="900" src="COMIDA2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="100000">
                                <img height="900" src="COMIDA3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="100000">
                                <img height="900" src="COMIDA4.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="100000">
                                <img height="900" src="COMIDA5.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col col-lg-2"></div>
        </div>